<ion-content [fullscreen]="true">
  <div class="circle circle1"></div>

  <div class="container">
    <ion-icon name="person" color="primary"></ion-icon>
    <ion-item lines="none" class="ion-text-center ion-margin itemDesign" color="light">
      <ion-input placeholder="Email" type="text" clearInput="true"></ion-input>
    </ion-item>    
    <ion-item lines="none" class="ion-text-center ion-margin itemDesign" color="light">
      <ion-input placeholder="Password" type="password" clearInput="true"></ion-input>
    </ion-item>
  </div>

  <div class="circle circle2"></div>

  <div class="align ion-text-center">
    <ion-button expand="block" shape="round" color="primary">Login</ion-button>
    <ion-text color="medium"><p>Forgot Password?</p></ion-text>
    <ion-row>
      <ion-col size="3"><ion-icon name="logo-facebook" color="primary"></ion-icon></ion-col>
      <ion-col size="3"><ion-icon name="logo-google" color="danger"></ion-icon></ion-col>
    </ion-row>
  </div>
</ion-content>
